.gjs-clm-effects {
  text-align: left;
  padding: 0 20px;
  margin-bottom: 30px;
}

.add-effect,
.gjs-clm-effects .edit-effect select,
.gjs-clm-effects .edit-effect input {
  border-radius: 0;
  color: #999;
  font-size: 12px;
  border: 1px solid #eee;
  color: inherit;
  box-sizing: border-box;
  width: 100%;
  position: relative;
  padding: 8px 5px;
  z-index: 1;
}

.gjs-clm-effects .edit-effect label {
  display: block;
  margin-top: 10px;
}

.gjs-clm-effects .edit-effect p {
  margin-bottom: 0;
}

.gjs-clm-effects .edit-effect strong {
  font-weight: bold;
}

.gjs-clm-effects .edit-effect {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #eee;
  position: relative;
}

.gjs-clm-effects .edit-effect .btn-remove-effect {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  opacity: 0.3;
}

.gjs-clm-effects .edit-effect .btn-remove-effect:hover {
  opacity: 1;
}
